.container {
    width: 100%;
    display: flex;
    padding:auto;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width: 300px;
    padding: 20px;
    border: 1px black solid;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
}